table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #1a0101;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ffffff;
}
body {
    background-color: #ffffff;
}