
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(download1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 20%;
    margin: 50px auto;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: center;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    text-decoration-color: #fff;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing:border-box;
    border: 1px solid black;
    border-radius: 4px;
}

    


.button-container {
    width: 100%;
    margin: 50px 0;
    padding: 20px;
    background-color: transparent;
    
    border-radius: 50px;
    display: flex;
    
    
    
    
    top: 0;
    left: -20%;
    transform: translateX(-10%);
    transform: translateY(-50%);
   
    
}

button {
    align-items:left;
    background-color:transparent;
    color: black;
    padding: 1px 15px;
    border: none;
    border-radius: 5px;
    cursor:context-menu;
    transition: background-color 1s ease, padding 0.5s ease;
    
    
}

button:hover {
    background-color: cyan;
    color: white;
    padding: 10px 15px;
}

p {
    text-align: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}
.sidebar:hover{
    width: 260px;
}
.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    background-image: url(cropped-logo-small-45-e1596732778863.png);
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}       

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}