<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data from Database</title>
    <link rel="stylesheet" href="/static/display_values_style.css">
    
    
</head>
<body>
    <h1>Data from Database</h1>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Procedure Type</th>
                <th>Amount</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/go_back" method="post">
        <button type="submit">Go Back</button>
    </form>
</body>
</html>